#container{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 /* gap:1em; */
 margin-top: 5%;
 margin-left: 5%;
 margin-right: 5%;
 grid-gap: 1em;

}
#container > div{
    /* border: 1px solid black; */
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .5em;
}
img{
    width: 100%;
    border-radius: .5em;
}
p{
    font-weight: 600;
    font-size: 20px;
}
